.launch-page {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;


    .spacex-logo {
        width: 280px;
        height: 31px;
        margin-top: 32px;
    }

    .launch-logo {
        width: 533.54px;
        height: 694px;
        margin-top: 138px;
        margin-right: 60px;
    }
}