@import './stylesheet.scss';

.launch-list-item {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 12px 16px 12px 32px;
    box-shadow: 0px 2px 5px #bfbfbf;
    margin-bottom: 5px;

    .launch-item-left {
        display: flex;

        .launch-number {
        color: $font-color;
        font-size: 40px;
        font-weight: 500;
        width: 100px;
        font-family: $font-family;
        }

        .mission-name {
        color: $font-color;
        font-size: 32px;
        font-weight: 500;
        font-family: $font-family;
        }
    }

    .launch-item-right {
        display: flex;
        flex-direction: column;

        .launch-date {
            color: $font-color;
            font-size: 16px;
            font-weight: 400;
            font-family: $font-family;
        }

        .rocket-name {
            color: $font-color;
            font-size: 24px;
            font-weight: 700;
            font-family: $font-family;
        }
    }
}